In [17]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

In [2]:
dataset = pd.read_csv('Data/placement-dataset.csv')

In [3]:
dataset.shape

(100, 4)

In [23]:
dataset.isnull().sum()

city         0
cgpa         8
iq           4
placement    0
dtype: int64

In [24]:
dataset.dropna(inplace=True)

In [25]:
x = dataset[['cgpa']]
y = dataset['placement']

In [26]:
from sklearn.model_selection import cross_val_score

In [30]:
p = cross_val_score(RandomForestClassifier(), x, y, cv=5)
p.sort()
p*100

array([ 82.35294118,  83.33333333,  83.33333333,  94.11764706,
       100.        ])

In [4]:
dataset.head(2)

          city  cgpa     iq  placement
0     New York   6.8  123.0          1
1  Los Angeles   5.9  106.0          0

In [5]:
new_dataset = dataset.head(10)

In [6]:
x = new_dataset['cgpa']
y = new_dataset['placement']

In [7]:
from sklearn.model_selection import KFold, StratifiedKFold, LeaveOneOut, LeavePOut

# LeavePout and LeaveOneout

In [9]:
# lo = LeaveOneOut()
# for train, test in lo.split(x, y):
#     print(train, test)

In [12]:
# lo = LeavePOut(2)
# for train, test in lo.split(x, y):
#     print(train, test)

In [15]:
lo = KFold(n_splits=5)
for train, test in lo.split(x, y):
    print(train, test)

[2 3 4 5 6 7 8 9] [0 1]
[0 1 4 5 6 7 8 9] [2 3]
[0 1 2 3 6 7 8 9] [4 5]
[0 1 2 3 4 5 8 9] [6 7]
[0 1 2 3 4 5 6 7] [8 9]