In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from mlxtend.plotting import plot_decision_regions

In [3]:
dataset = pd.read_csv('Data/Social_Network_Ads.csv')

In [4]:
dataset.head(2)

    User ID Gender  Age  EstimatedSalary  Purchased
0  15624510   Male   19            19000          0
1  15810944   Male   35            20000          0

In [6]:
dataset['Purchased'].value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [ ]:
dataset.columns

In [ ]:
dataset.drop(columns=['User ID', 'Gender', 'EstimatedSalary'], inplace=True)

In [ ]:
dataset.head(2)

In [ ]:
import seaborn as sns
sns.scatterplot(x='Age', y='Purchased', data=dataset)
plt.show()

In [ ]:
X = dataset[['Age']]
y = dataset['Purchased']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [ ]:
lr = LogisticRegression()
lr.fit(X_train, y_train)

In [ ]:
lr.score(X_test, y_test)*100

In [ ]:
lr.predict([[42]])

In [ ]:
import seaborn as sns
sns.scatterplot(x='Age', y='Purchased', data=dataset)
sns.lineplot(x='Age', y=lr.predict(X), data=dataset, color='red')
plt.show()