In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import seaborn as sns
from mlxtend.plotting import plot_decision_regions

In [16]:
# pip install imblearn

In [2]:
dataset = pd.read_csv('Data/Social_Network_Ads.csv')

In [11]:
dataset.head(20)

     User ID  Gender  Age  EstimatedSalary  Purchased
0   15624510    Male   19            19000          0
1   15810944    Male   35            20000          0
2   15668575  Female   26            43000          0
3   15603246  Female   27            57000          0
4   15804002    Male   19            76000          0
5   15728773    Male   27            58000          0
6   15598044  Female   27            84000          0
7   15694829  Female   32           150000          1
8   15600575    Male   25            33000          0
9   15727311  Female   35            65000          0
10  15570769  Female   26            80000          0
11  15606274  Female   26            52000          0
12  15746139    Male   20            86000          0
13  15704987    Male   32            18000          0
14  15628972    Male   18            82000          0
15  15697686    Male   29            80000          0
16  15733883    Male   47            25000          1
17  15617482    Male   45            26000          1
18  15704583    Male   46            28000          1
19  15621083  Female   48            29000          1

In [4]:
x = dataset[['Age', 'EstimatedSalary']]
y = dataset['Purchased']

# THe data is imbalanced. I use Random under sampling to balanced the data.

In [7]:
y.value_counts()   # The data is imbalanced

0    257
1    143
Name: Purchased, dtype: int64

In [17]:
from imblearn.under_sampling import RandomUnderSampler

In [19]:
ru = RandomUnderSampler()
ru_x, ru_y = ru.fit_resample(x, y)   # Now use ru_x and ru_y as x and y in train test split and check score

In [20]:
ru_x.head(2)

   Age  EstimatedSalary
0   38            71000
1   27            31000

In [23]:
ru_y.value_counts()

1    143
0    143
Name: Purchased, dtype: int64

In [24]:
X_train, X_test, y_train, y_test = train_test_split(ru_x, ru_y, random_state=42, test_size=0.2)

In [25]:
lr = LogisticRegression()
lr.fit(X_train, y_train)

LogisticRegression()

In [26]:
lr.score(X_test, y_test)*100

58.620689655172406

In [28]:
lr.predict([[45, 26000]])

array([1], dtype=int64)